body{
    background:black;
    color:white;
    font-family:Cambria;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.explore{
    cursor:pointer;
    font-size:20px;
}

.container{
    display:flex;
    margin-top:30px;
}

.left{
    width:30%;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.right{
    width:70%;
}
img{
    width:400px;
}